<% provide(:title, 'All users') %>
<h1>All users</h1>



<ul class="users">
  <%= render @users %>
</ul>

<%#　以下をScaffoldingしたindex.html.erbに追記する %>
<%= form_tag search_index_path, :method => 'get' do %> <%#　projects_pathはモデル名で読みかえること %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

